
a, a:visited, a:active, a:focus {
  color: whitesmoke;
  text-decoration: none;
}

* {  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover {
  text-decoration: line-through;
}

.enigma_body {
  text-align: center;
  background-color: black;
}

#container {
  margin-top: 100px;
}

.periphrastic {
  position: absolute;
  left: 5%;
  top: 280px;
  font-size: 23px;
  font-weight: 1000;
  font-family: myFont;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: whitesmoke;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.bold{
  color: rgb(77, 139, 253);
}
.route {
  width: 30%;
  text-align: justify;
  position: absolute;
  right: 0;
  font-family: monospace;
  color: rgb(237, 253, 90);
  margin-top: -150px;

  &>.r1 {
    text-align: left;
  }
  &>.r2 {
    text-align: left;
  }
  &>.r3 {
    text-align: left;
  }
}

.row_number{
  margin-top: 20px;
  margin-bottom: -30px;
  font-size: 8px;
  letter-spacing: .2px;
  font-family: monospace;
  color: whitesmoke;
}

.col_letter {
  width:1px;
  word-wrap: break-word;
  font-family: monospace;
  color: whitesmoke;
  position: absolute;
  left: calc(50% - 205px);
  margin-top: 40px;
}

table, tr, td {
  border: 1px solid #abc;
}

table {
  background-image: url('qr1.png');

  border-collapse: collapse;
  margin: 40px auto;
}

tr {
  height: 15px;
}

td {
  width: 12px;
}

input[type=submit] {

  margin-right: 2em;

  background: whitesmoke;
  color: black;
  padding: 3px 10px;
  margin-top: 20px;

  font-family: monospace;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 14px;
  border-radius: 5px;

  transition: background .1s ease-out;
  -webkit-transition: background .1s ease-out;
  -moz-transition: background .1s ease-out;
  -ms-transition: background .1s ease-out;
  -o-transition: background .1s ease-out;

  border: 1px solid whitesmoke;

  &:hover {
    cursor: pointer;
    background: darken(whitesmoke, 15%);
  }
}
